[Unit]
Description= Raspberry PI GPIO software PWM based light dimmers controller Service
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/pi/light_dimmer
ExecStart=+/usr/bin/python3 /home/pi/light_dimmer/dimmer_daemon.py
KillMode=process

[Install]
WantedBy=multi-user.target
