<!DOCTYPE html>

<!--[if lt IE 9]> <html class="lt-ie9" lang="en" dir="ltr"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="" lang="en" dir="ltr"> <!--<![endif]-->

<head>
	<meta charset="utf-8">
	<title>Dimmer control mini site</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="Michał Chrzanowski">
	<link rel="shortcut icon" href="static/favicon.png">
	
	<!-- CSS -->
	<link href="static/css/spark.min.css" rel="stylesheet">
	
	<!-- JS -->
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="static/js/spark.min.js"></script>
	
	<!-- Support for IE8 HTML5 elements -->
	<!--[if lt IE 9]>
		<script src="static/js/html5shiv.js"></script>
	<![endif]-->
</head>
<body style="background-color: #9b969c">
<div class="container limit center"  style="padding-top: 0px; background-color: #5b566c">
	<table class="tbl alternate center narrow dark push-30"><tbody><tr><td>
        <h1 class="center orange text-shadow">Dimmers controller</h1>
    </td></tr></tbody></table>
	<div class="row">
    {% for room in rooms %}
    <div class="col of-{{ columns }} push-30">
		<h2 class="herotype center lime">{{ room }} {{ current_level }}</h2>

        {% for level in levels %}
            {% if current_level is equalto level %}
                <a href="/{{ room }}/set_level/{{ level }}" class="btn-touch-round orange" aria-label="navigation">
            {% else %}
                <a href="/{{ room }}/set_level/{{ level }}" class="btn-touch-round white" aria-label="navigation">
            {% endif %}
              <span class="circle">
                <span class="inner-circle"></span>
              </span>
            </a>
        {% endfor %}
    </div>
    {% endfor %}
  </div>
</div>
</body>
</html>